{% extends 'base.html.twig' %}

{% block title %}Liste des plats{% endblock %}

{% block body %}
    <h1>Liste des plats</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.nom }}</td>
                <td>
                    {% if plat.Category.name is defined %}
                    {{ plat.Category.name }}
                    {% endif %}
                </td>
                <td>{{ plat.description }}</td>
                <td>
                    <a href="{{ path('plat_show', {'id': plat.id}) }}">Afficher</a>
                    <a href="{{ path('plat_edit', {'id': plat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun plat disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plat_new') }}">Ajouter un plat</a>
{% endblock %}
